SERVER_PORT=8080

POSTGRES_AUTH_DB=postgresql://postgres:root@localhost:5432/evogo_auth?sslmode=disable
POSTGRES_USERS_DB=postgresql://postgres:root@localhost:5432/evogo_users?sslmode=disable

GLOBAL_API_KEY=REMOVED-SECRET

WADEBUG=DEBUG
LOGTYPE=console
WEBHOOKFILES=true

CONNECT_ON_STARTUP=true

OS_NAME=Evolution GO